RoemischeZahl.xcodeproj/project.xcworkspace/xcuserdata
RoemischeZahl.xcodeproj/xcuserdata
XLII.xcodeproj/project.xcworkspace/xcuserdata
XLII.xcodeproj/xcuserdata
XLIIApp/XLII.xcodeproj/xcuserdata
XLIIApp/XLII.xcodeproj/project.xcworkspace/xcuserdata
XLII.xcworkspace/xcuserdata
XLIICore/Package.resolved
/Package.resolved
.swiftpm/xcode/package.xcworkspace/xcuserdata
